button {
    width: 200px;
    height: 100px;
    border: none;
    height: 70px;
    color: var(--font-color);
    font-size: 20px;
    gap: 10px;
    border-radius: 12px;
    transition: background-color 200ms ease;
    cursor: pointer;
    outline: none;
    background-color: #232323;
}

button:hover {
    box-shadow: 0 0 0 2px blueviolet;

}

.active button {
    background-color: red;

}